@import '_var.scss';

/* оформление содержимого над самой нартикой ниже top line */
.block {
  padding: 60px 0;
}

.block_title {
  text-align: center;
}

.block_title h2 {
  font-family: 'OswaldBold', sans-serif;
  @include font-size(30px);
  color: $aksent_color;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.block_title h2 span {
  color: $red-color;
}

.block_descr {
  color: $bacis_color_font;
  text-align: center;
  @include font-size(16px);
  margin-bottom: 45px;
}

/*  3 тумб преимуществ в ряд */
.tambl_row-three {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tambl_item-three {
  width: 32.333%;
  margin-bottom: 1%;
  margin-right: 1%;
  padding: 10px 5px;
  text-align: center;
}

.tambl_item-three:nth-child(3n + 3) {
  margin-right: 0;
}

.tambl-title {
  text-transform: uppercase;
  color: $aksent_color;
  font-family: 'OswaldBold', sans-serif;
  @include font-size(18px);
  margin: 10px 0 30px 0;
}

.title-text p {
  @include font-size(13px);
  color: $bacis_color_font;
  margin-bottom: 30px;
}

.title-text p:last-child {
  margin-bottom: 0;
}

.icon {
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
}

.icon-barket {
  background-position: 0px -162px;
  width: 74px;
  height: 93px;
}

.icon-document {
  background-position: 0px -375px;
  width: 74px;
  height: 93px;
}

.icon-finger_up {
  background-position: 0px -588px;
  width: 74px;
  height: 93px;
}

.icon-flug {
  background-position: 0px -801px;
  width: 74px;
  height: 93px;
}

.icon-heart {
  background-position: 0px -1014px;
  width: 74px;
  height: 93px;
}

.icon-magnify {
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}

.icon-medicin {
  background-position: 0px -1227px;
  width: 74px;
  height: 93px;
}

/* // блок с тренерами */

.trainer_fon {
  background: #000 url('../images/fon_trainers.jpg') center center no-repeat;
  min-height: 581px;
  background-size: cover;
}

.trainer_fon .block_title h2,
.galary .block_title h2,
.price_fon .block_title h2 {
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 65px;
}

.galary .block_title h2 {
  color: $aksent_color;
  margin-bottom: 35px;
}

.trainer_fon .block_title h2:before,
.price_fon .block_title h2:before,
.galary .block_title h2:before {
  position: absolute;
  content: '';
  width: 45px;
  height: 1px;
  background-color: #fff;
  left: 50%;
  bottom: -8px;
  margin-left: -22px;
  text-align: center;
}

.galary .block_title h2:before {
  background-color: $aksent_color;
}

.galary .block_descr {
  margin-bottom: 70px;
}

/*  4 тумб преимуществ в ряд */
.tambl_row-four {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}

.tambl_item-four {
  width: 23%;
  margin-bottom: 2%;
  margin-right: 2%;
  padding: 0;
  text-align: center;
  background-color: #fff;
  @include trans;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.tambl_item-four:hover .trainer_item_text {
  height: 100%;
}

.tambl_item-four:nth-child(4n + 4) {
  margin-right: 0;
}

.tambl_item-four:hover {
  background-color: #fff;
}

.trainer_item_text {
  padding-left: 18px;
  padding-top: 20px;
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 70px;
  margin: 0;
  text-align: left;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  transition: all 0.8s ease;
}

.trainer_item_content {
  color: #afafaf;
  @include font-size(13px);
  display: none;
}

.social_trenier {
  list-style-type: none;
  display: none;
}

.tambl_item-four:hover .trainer_item_content {
  display: block;
  margin-top: auto;
}

.tambl_item-four:hover .social_trenier {
  display: block;
}
.gallery_item,
.trainer_item {
  padding: 0;
  margin: 0;
}

.trainer_item img {
  width: 100%;
  height: auto;
}

.trainer_item_name {
  @include font-size(14px);
  line-height: (24px/14px);
  font-family: 'OswaldBold', sans-serif;
  color: $color_form;
  margin-bottom: auto;
  width: 100%;
  text-transform: uppercase;
}

.trainer_item_prof {
  color: #afafaf;
  @include font-size(12px);
  font-family: 'OswaldRegular', sans-serif;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.social_trenier li {
  display: inline-block;
  margin-right: 5px;
}

.social_trenier li a {
  @include font-size(14px);
  color: #afafaf;
  @include trans;
}

.social_trenier li a:hover {
  color: #e25050;
}

.galary .tambl_item-four .trainer_item_box {
  padding-left: 0;
}

.galary .tambl_item-four .trainer_item_box .trainer_item_name {
  text-align: left;
}

.gallery_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.gallery_box_items {
  width: 24%;
  cursor: pointer;
}
.gallery_pic {
  position: relative;
}
.gallery_pic img {
  display: block;
}
.gallery_item_fon {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #e25050;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
}
.gallery_item_fon img {
  display: none;
}
.gallery_box_items:hover .gallery_item_fon {
  height: 100%;
  opacity: 0.75;
}

/* оформление цен */

.price_fon {
  background: #e25050;
}

.price_bock {
  display: flex;
  justify-content: space-between;
}

.pbn_wrap {
  padding-left: 10px;
  padding-right: 5px;
}

.pbn_wrap_center {
  width: 40%;
  display: flex;
  align-items: center;
}

// .price_bock_name {
//   //width: 40%;
// }

.price_bock_items {
  background-color: #d24443;
  width: 32%;
  padding: 20px 5px 20px 0;
  color: #fff;
  @include transition(all, 0.5s, ease);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid transparent;
}

.price_bock_wrap {
  display: flex;
  //  margin: auto;
  flex-grow: 1;
}

.price_bock_items:hover {
  border: 1px solid #fff;
  background-color: transparent;
}

.price_bock_terms {
  border-left: 1px solid #e25051;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include transition(all, 0.5s, ease);
}

.price_bock_items:hover .price_bock_terms {
  border-left: 1px solid #fff;
}

.price_bock_terms ul li {
  margin-bottom: 5px;
  position: relative;
}

.price_bock_terms ul li:before {
  position: absolute;
  top: 4px;
  left: -20px;
  font-size: 0.8rem;
  margin-right: 11px;
  font-weight: 200;
  content: '\f00c';
  font-family: 'FontAwesome';
}

.price_title,
.price_number {
  font-family: 'OswaldBold', sans-serif;
  @include font-size(20px);
  text-transform: uppercase;
  margin-bottom: 30px;
  word-wrap: normal;
}

.price_number {
  @include font-size(24px);
}

.price_number:after {
  content: '\20BD';
}

.price_bock_items:hover .price_buton {
  background: #d24443;
}

.price_buton {
  margin: 20px auto;
  display: inline-block;
  padding: 14px 24px;
  background: #e25050;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  @include font-size(18px);
  font-family: 'OswaldBold', sans-serif;
  @include trans;
  cursor: pointer;
}

.price_fon_item:hover .price_buton,
.price_buton:hover {
  background: #fff;
  color: $red-color;
}

.price_bock_items:hover .price_buton:hover {
  background: #d24443;
  color: #fff;
}

#carousel_trade picture img {
  display: inline-block;
  width: 100%;
  height: auto;
}

#carousel_trade .owl-nav button.owl-next {
  position: absolute;
  top: 25%;
  right: -10%;
  background: transparent;
}

#carousel_trade .owl-nav button.owl-prev {
  position: absolute;
  background: transparent;
  top: 25%;
  left: -10%;
}

.social_block {
  background-color: $color_form;
}

.social_box {
  padding: 30px 0;
  border-bottom: 1px solid #323232;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_links {
  padding: 0;
}

.social_links ul li {
  display: inline-block;
}

.social_links ul li a {
  @include font-size(13px);
  padding: 7px;
  color: #fff;
  @include trans;
}

.social_links ul li a:hover {
  color: $red-color;
}

.twitter_block {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.twitter_block_icon {
  -ms-align-self: center;
  align-self: center;
  width: 20px;
  height: 20px;
  color: #fff;
}

.twitter_block_text {
  width: 570px;
  padding-left: 10px;
  color: #fff;
  @include font-size(13px);
  font-family: 'OpenSansLight', sans-serif;
}

.twitter_block_text span {
  color: #717171;
}

.footer-fon {
  background: url('../images/foter_fon_map.png') center center no-repeat;
  min-height: 420px;
  background-size: cover;
  position: relative;
}

.footer-fon:before {
  position: absolute;
  content: '';
  background: #202020;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.footer_box {
  padding: 0;
  margin: 60px 0 100px 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.footer_left {
  position: relative;
  width: 30%;
  padding-right: 15px;
}

.footer_right {
  position: relative;
  width: 70%;
}

.footer_title {
  font-family: 'OswaldBold', sans-serif;
  @include font-size(14px);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer_text {
  font-family: 'OpenSansLight', sans-serif;
  @include font-size(12px);
  line-height: (21px/12px);
  color: #c6c6c6;
}
