@import '_var.scss';
/* стили формы обратной связи */

.contact_footer {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
flex-wrap: wrap;
z-index: 3;
position: relative;
}

.contact_footer_input {
  font-size: 1.1rem;
width: 31%;
height: 45px;
margin-bottom: 12px;
border:none;
background-color: transparent;
color:#fff;
border:1px solid #fff;
text-indent: 10px;
text-decoration: underline;
    font-family: "OswaldRegular", sans-serif;
letter-spacing: 0.35rem;

}
.contact_footer_textarea {
    font-size: 1.1rem;
 color:#fff;
  width: 65.5%;
  resize:none;
  background-color: transparent;
border:1px solid lighten(#fff, 10%);
    font-family: "OswaldRegular", sans-serif;
min-height: 110px;
padding-left: 10px;
letter-spacing: 0.35rem;

}
.footer_submit_contain {
   width: 31%;
}
.contact_footer_submit {
width: 100%;
padding: 12px 0;
font-size: .9rem;
font-family: "OswaldBold", sans-serif;
background-color: #e14f4f;
border:none;
text-transform: uppercase;
color:#fff;
margin-bottom: 10px;
}



.checkbox.custom {
margin-top: 20px 0;
  padding: 0;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.css-label-red {
  background-image: url(../images/check2.png);
}



input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  border: 0;
}

input[type=checkbox].css-checkbox+label.css-label-red {
  padding-left: 30px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  color:#fff;
}

input[type=checkbox].css-checkbox+label.css-label-red:hover {
/*   opacity: 0.5; */ /* 선택적 사용 */
}

input[type=checkbox].css-checkbox:checked+label.css-label-red {
  background-position: 0 -20px;
}






